# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Meshtastic / App specific
.daemon.pid
daemon.log
*.pid

# Environments
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.noseresults
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
heatmap/messages.json
heatmap/messages.json.tmp

# private
tuitest.key
